services:

  redis-cache:
    image: redis:8-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  weather-api-server:
    build:
      context: .
      dockerfile: dockerfile
    restart: unless-stopped
    ports:
      - "12345:8080"
    depends_on:
      redis-cache:
        condition: service_healthy
    

volumes:
  redis_data:
